/* src/pages/Home.css */
body {
  font-family: Arial, sans-serif;
}

.home {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 1rem;
  color: white;
}

.nav-links a {
  color: white;
  margin-left: 1rem;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

main {
  text-align: center;
  margin: 2rem 0;
  flex-grow: 1;
}

footer {
  text-align: center;
  margin-top: 2rem;
  padding: 1rem;
  background-color: #f1f1f1;
}

footer p {
  margin: 0;
  color: #333;
}

footer a {
  display: inline-block;
  margin-top: 0.5rem;
}

footer a img.github-logo {
  width: 30px;
  height: 30px;
}
